{
  "parserOptions": {
    "ecmaVersion": 2017
  },

  "env": {
    "es6": true
  },
  "plugins": [
    // Tell eslint about the require plugin
    "@upleveled/upleveled"
  ],
  "rules": {
    // Require Plugin Rules (note plugin prefix)
    "@upleveled/upleveled/no-unnecessary-interpolations": 2
  }
}
